/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root{
    /* --color-primary: #217BF4; */
    --color-primary: rgb(33, 123, 244);
    --color-primary-10: rgba(33, 123, 244, 0.1);
    --color-secundary: #FFAF2E;
    --color-heading: #0A093D;
    --color-white: #FFF;
    --full-width: 1170px;
    --color-text: #656464;
    --color-bullets: #171648;

    --space-1: 1rem;
    --space1-5: 1.5rem;
  }

  body{
    color: var(--color-text);
    font-family: "Inter", sans-serif;
  }

  h1, h2, h3, h4, h5, h6{
    color: var(--color-heading);
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }

  .btn{
    display: inline-flex;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 50px;
    padding: 0 40px;
    line-height: 1;
    align-items: center;
    border-radius: 1rem;
  }

  .btn--secondary{
    background-color: transparent;
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
  }

  .btn--large{
    height: 62px;
    padding: 0 48px;
  }

  .container{
    width: var(--full-width);
    margin: auto;
  }

  .prime{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
  }

  .header{
    border-bottom: solid 1px var(--color-primary-10);
    padding: 1.5rem 0;
  }

  .header__container{
    display: grid;
    grid-template-columns: 145px 1fr auto;
    gap: 4.5rem;
    align-items: center;
  }

  .header__nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
  }

  .header__nav a.active{
    color: #282839;
    font-weight: bold;
  }

  .header__actions{
    display: flex;
    gap: 3rem;
  }

  .header__search{
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1rem;
    align-items: center;
  }

  .header__search input{
    all: unset;
    width: 7.5rem;
  }

  .hero{
    display: flex;
    align-items: center;
    padding: 5rem 0;
  }

  .hero__title{
    font-size: 12px;
    background-color: var(--color-primary-10);
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    color: var(--color-primary);
    padding: 0 2rem;
    height: 2rem;
  }

  .hero__subtitle{
    font-size: 3.5rem;
    line-height: 1.1;
    margin: 1.5rem 0;
    width: 32.1875rem;
    height: 8.25rem;
  }

  .hero__description{
    font-size: 1.125rem;
    margin-bottom: 3rem;
    width: 30.6875rem;
    height: 3.5rem;

  }

  .hero__cta{
    display: flex;
    gap: 1rem;
  }

  .whats-netbook{
    display: flex;
    align-items: center;
    gap: 12.5rem;
    margin: 6rem auto;
  }

  .whats-netbook__content h2{
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1rem;
    color: var(--color-primary);
  }

  .whats-netbook__content h3{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.33;
    margin-bottom: 1rem;
  }

  .whats-netbook__content p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text);
    margin-bottom: 2rem;
  }

  .whats-netbook__content ul{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-bullets);
    list-style: none;
    padding-left: 0%;
  }

  .whats-netbook__content li{
    position: relative;
    padding-left: 2rem;
  }

  .whats-netbook__content li::before{
    content: "";
    position: absolute;
    background-color: var(--color-primary);
    border: solid 4px #E9F2FE;
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
  }



  .whats-netbook__images{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 564px;
  }

  .whats-netbook__images img{
    border-radius: 1rem;
  }

  .whats-netbook__video{
    grid-row: 1 / -1;
  }

 .achievement{
    display: grid;
    grid-template-columns: 340px 340px 1fr;
    gap: 1.5rem;
  }

  .achievement .cards{
    background: linear-gradient(#FFF, #FFF) padding-box, 
                linear-gradient(to bottom, rgba(185, 185, 185, 0.13), rgba(94, 94, 94, 0.37)) border-box;
    border: solid transparent 1px;
    border-radius: 1rem;
    padding: 3rem 1.125rem 2.5rem 2.5rem;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  }

  .achievement .cards a{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .achievement .cards a:hover{
    color: var(--color-primary);
    font-weight: bold;
  }

  .achievement .cards a:hover svg path{
    stroke: var(--color-primary);
  }

  .achievement .cards:hover{
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
    transform: translate(-4px, -4px);
  }
  
  .achievement .cards__content{
    margin-bottom: 2.25rem;
  }

  .cards.rating .cards__title, .cards.awards .cards__title {
    display: flex;
    gap: 0.625rem;
    margin-bottom: 2rem;
  }

  .cards.rating .cards__subtitle{
    display: flex;
    align-items: center;
  }

  .cards__avatars{
    display: inline-flex;
    margin-right: 1rem;
  }

  .cards__avatars img{
    margin-left: -6px;
    border: solid 1px var(--color-white);
    border-radius: 50%;
    width: 24px;
    aspect-ratio: 1/1;
    box-shadow: -5px 4px 14px rgba(151, 151, 151, 0.28);
  }

  .cards__avatars img:first-child{
    margin: 0;
  }

  .achievement .cards__subtitle{
    margin-bottom: 2.9375rem;
  }

  .achievement .cards__subtitle b{
    color: #217BF4;
  }
